* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  margin: 0;

  color: white;
}

body {
  background: radial-gradient(
    circle,
    rgba(33, 30, 30, 1) 0%,
    rgba(3, 2, 2, 1) 100%
  );
}

.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.game-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.game-page h1 {
  color: #e17501;
  font-size: 5rem;
  text-shadow: 5px 10px #5e1e03;
}

.game-page h2 {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 10px 10px #000000;
}

.game-window {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

canvas {
  border: solid rgb(53, 53, 53) 0.25rem;
  border-radius: 1rem 1rem;
  box-shadow: 2px 5px 5px #888888;
}
.footer {
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #111111;
  color: white;
  text-align: center;
}

.spotify-popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.login-page {
  display: flex;
  padding: 20rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 92rem;
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.landing-page {
  display: flex;
  padding: 20rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 92rem;
  background: radial-gradient(
    circle,
    rgba(33, 30, 30, 1) 0%,
    rgba(3, 2, 2, 1) 100%
  );
}

.login-page h1 {
  color: #e17501;
  font-size: 5rem;
  text-shadow: 5px 10px #5e1e03;
  -webkit-animation: tracking-in-contract-bck 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

.landing-page h1 {
  color: #e17501;
  font-size: 5rem;
  text-shadow: 5px 10px #5e1e03;
  -webkit-animation: tracking-in-contract-bck 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

.login-page h2 {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 10px 10px #000000;
  -webkit-animation: tracking-in-contract-bck-bottom 2s
    cubic-bezier(0.215, 0.61, 0.355, 1) 500ms both;
  animation: tracking-in-contract-bck-bottom 2s
    cubic-bezier(0.215, 0.61, 0.355, 1) 500ms both;
}

.landing-page h2 {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 10px 10px #000000;
  -webkit-animation: tracking-in-contract-bck-bottom 2s
    cubic-bezier(0.215, 0.61, 0.355, 1) 500ms both;
  animation: tracking-in-contract-bck-bottom 2s
    cubic-bezier(0.215, 0.61, 0.355, 1) 500ms both;
}

ul {
  text-align: start;
  padding-top: 2rem;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.6s
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.6s both;
}

.pick-songs-button {
  margin-top: 5rem;
  box-shadow: 1px 2px 10px #5298ed;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both;
  animation: tracking-in-expand-fwd-top 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both;
}

.song-selection {
  padding: 5rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-selection img {
  width: 150px;
  height: 150px;
}

.song-search {
  display: flex;
  justify-content: center;
}

.song-search input {
  background-color: white;
  color: black;
  width: 60rem;
  margin: 1rem;
}

.song-queue {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  border: 5px solid rgb(1, 169, 1);
  border-radius: 1rem 1rem;
}

.in-game-song-queue {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  border: 5px solid rgb(1, 169, 1);
  border-radius: 1rem 1rem;
}

.queue-song {
  padding: 0 1rem 0 1rem;
}

.queue-with-start-butt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 8rem;
  max-height: 82rem;
  max-width: 40rem;
}

.in-game-queue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  bottom: 5rem;
  max-height: 30rem;
  max-width: 100rem;
}

.in-game-queue img {
  width: 80px;
  height: 90px;
}

.game-page #instructions {
  display: flex;
  text-align: start;
  width: 120rem;
}

.song-list {
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  width: 80rem;
  height: 70rem;
  overflow-x: hidden;
  overflow-y: auto;
  border: 5px solid rgb(1, 169, 1);
  border-radius: 1rem 1rem;
}

.individual-song {
  display: flex;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 19, 4, 1) 32%,
    rgba(0, 34, 18, 1) 81%
  );
  -webkit-animation: flip-horizontal-bottom 0.2s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
  animation: flip-horizontal-bottom 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    reverse both;
}

.add-song {
  padding: 0.5rem;
  width: 80rem;
  display: flex;
  flex-direction: column;
}

.individal-queue-song {
  display: flex;
  padding: 1rem;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 19, 4, 1) 32%,
    rgba(0, 34, 18, 1) 81%
  );
  -webkit-animation: flip-horizontal-bottom 0.2s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
  animation: flip-horizontal-bottom 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    reverse both;
}

.game-queue-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 19, 4, 1) 32%,
    rgba(0, 34, 18, 1) 81%
  );
  -webkit-animation: flip-horizontal-bottom 0.2s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
  animation: flip-horizontal-bottom 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    reverse both;
}

.music-player {
  width: 100%;
  position: fixed;
  bottom: 2.5rem;
}

/* Animations */
/* ----------------------------------------------
 * Generated by Animista on 2020-12-15 17:40:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
